.quote {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
  max-width: 768px;
  height: 200px;
  position: relative;
}

.text p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .text p {
    font-size: 2rem;
  }
}
