* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fafafa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
